[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/gl3w"]
	path = submodules/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "submodules/--force"]
	path = submodules/--force
	url = https://github.com/glfw/glfw.git
